#pro{
    color: #717735;
}
h1{
    width: 55px;
    font-weight: bold;
    font-family: "Montserrat", Arial, sans-serif;
    display:inline-block ;
    text-align: center;
    
}
.rotate360{
    animation: moveAndRotate360 3s linear 3;

}
@keyframes moveAndRotate360{
    from {
        transform: translateX(0)rotate(0deg);
    }
    to{
        transform: translateX(100px) rotate(360deg);
    }
}
.list{
    list-style: none;
    display: inline-block;
    margin:0;
    padding:0;
    border-radius: 10px 0px 15px;
    border: 2px solid;
    color: aqua;

}
li{
    display: inline-block;
    margin-right: 10px;
    color: blue;
}
